/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../sass/sass/modules/_main.scss */
html {
  background: url("../../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', 'Raleway', 'sans-serif';
}

/* line 13, ../../sass/sass/modules/_main.scss */
aside.sidebar {
  box-sizing: border-box;
  position: fixed;
  background: #1b263c url("../../images/noise.png");
  height: 100%;
  width: 20%;
  padding: 0 10px;
  color: #33343e;
  font-size: 1.2em;
  left: 0;
  top: 0;
  text-shadow: 1px -1px 1px #ccdbfc;
}

/* line 27, ../../sass/sass/modules/_main.scss */
aside.sidebar .mao_logo {
  height: 10%;
  width: 20%;
}

/* line 32, ../../sass/sass/modules/_main.scss */
aside.sidebar .texto_logo {
  height: 10%;
  width: 60%;
}

/* line 37, ../../sass/sass/modules/_main.scss */
aside.sidebar::after {
  background: -webkit-linear-gradient(left, transparent, black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, transparent, black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, transparent, black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, transparent, #000000);
  /* Standard syntax */
  width: 10px;
  height: 100%;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

/* line 50, ../../sass/sass/modules/_main.scss */
aside.sidebar header {
  margin: 5px auto;
}

/* line 54, ../../sass/sass/modules/_main.scss */
aside.sidebar nav {
  padding: 5px 30px;
}

/* line 58, ../../sass/sass/modules/_main.scss */
aside.sidebar nav li {
  margin: 20px 5px;
}

/* line 63, ../../sass/sass/modules/_main.scss */
div.container {
  position: relative;
  width: 80%;
  margin: 20px 0;
  float: right;
}

/* line 70, ../../sass/sass/modules/_main.scss */
section.content {
  width: 800px;
  margin: 20px auto;
  border-style: solid;
  border-width: 0;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.88);
  position: relative;
  left: 50%;
  margin-left: -400px;
}
